name: Linting
on:
  merge_group:
    types: [checks_requested]
  pull_request: {} # All changes need linting
  workflow_call:
    inputs:
      concurrency_group_prefix:
        default: pr
        required: false
        type: string

concurrency:
  group: ${{ inputs.concurrency_group_prefix }}-linting-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    container:
      image: terraconstructs/jsii-terraform@sha256:4942a4c6ed8286f403c7855dab56b0e11f9a7115e7e0afbcd49d7e69de4d6dc0
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: installing dependencies
        run: |
          yarn install --frozen-lockfile
      - name: run prettier
        run: |
          yarn lint:prettier

  lint:
    runs-on: ubuntu-latest
    container:
      image: terraconstructs/jsii-terraform@sha256:4942a4c6ed8286f403c7855dab56b0e11f9a7115e7e0afbcd49d7e69de4d6dc0
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: installing dependencies
        run: |
          yarn install --frozen-lockfile
      - name: run workspace linting
        run: |
          yarn lint:workspace
