name: Linting
on:
  merge_group:
    types: [checks_requested]
  pull_request: {} # All changes need linting
  workflow_call:
    inputs:
      concurrency_group_prefix:
        default: pr
        required: false
        type: string

concurrency:
  group: ${{ inputs.concurrency_group_prefix }}-linting-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: installing dependencies
        run: |
          yarn install --frozen-lockfile
      - name: run prettier
        run: |
          yarn lint:prettier

  lint:
    runs-on: ubuntu-latest
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: installing dependencies
        run: |
          yarn install --frozen-lockfile
      - name: run workspace linting
        run: |
          yarn lint:workspace
