name: Depcheck
on:
  merge_group:
    types: [checks_requested]
  pull_request:
    branches:
      - main
jobs:
  depcheck:
    runs-on: ubuntu-latest
    container:
      image: terraconstructs/jsii-terraform
    env:
      CHECKPOINT_DISABLE: "1"
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        package: [
            cdktn,
            # cdktn-cli,
            "@cdktn/hcl2json",
            "@cdktn/hcl2cdk",
            "@cdktn/hcl-tools",
            "@cdktn/provider-schema",
            "@cdktn/provider-generator",
            "@cdktn/commons",
            # "@cdktn/cli-core",
          ]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Run Depcheck"
        run: |
          npx lerna exec --scope '${{ matrix.package }}' -- npx -y depcheck --ignores="@types/*,jsii,jsii-pacmak,jsii-docgen,yoga-layout-prebuilt,eslint,jest,tsc-files,typescript,esbuild,esbuild-jest,graphology-types"
