name: Unit Tests - PR
on:
  merge_group:
    types: [checks_requested]
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - labeled
      - unlabeled
      - reopened

jobs:
  all_unit_tests:
    name: "All Unit Tests"
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'ci/skip-unit') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        package:
          [
            cdktn,
            cdktn-cli,
            "@cdktn/hcl2cdk",
            "@cdktn/hcl2json",
            "@cdktn/provider-schema",
            "@cdktn/provider-generator",
            "@cdktn/commons",
            "@cdktn/cli-core",
          ]
        terraform_version: ["1.6.5", "1.5.5"]
    with:
      concurrency_group_prefix: pr-all
      package: ${{ matrix.package }}
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_cli_core:
    name: "@cdktn/cli Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/@cdktn/cli-core') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-cli-core
      package: "@cdktn/cli-core"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_commons:
    name: "@cdktn/commons Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/@cdktn/commons') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-commons
      package: "@cdktn/commons"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_hcl2cdk:
    name: "@cdktn/hcl2cdk Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/@cdktn/hcl2cdk') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-hcl2cdk
      package: "@cdktn/hcl2cdk"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_hcl2json:
    name: "@cdktn/hcl2json Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/@cdktn/hcl2json') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-hcl2json
      package: "@cdktn/hcl2json"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_provider_generator:
    name: "@cdktn/provider-generator Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/@cdktn/provider-generator') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-provider-generator
      package: "@cdktn/provider-generator"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn_cli:
    name: "cdktn-cli Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/cdktn-cli') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn-cli
      package: "cdktn-cli"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  cdktn:
    name: "cdktn Unit Tests"
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ci/run-unit/cdktn') }}
    uses: ./.github/workflows/unit.yml
    strategy:
      fail-fast: false
      matrix:
        terraform_version: ["1.6.5"]
    with:
      concurrency_group_prefix: pr-cdktn
      package: "cdktn"
      terraform_version: ${{ matrix.terraform_version }}
    secrets: inherit

  results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Unit Tests - PR - Result
    needs:
      [
        all_unit_tests,
        cdktn,
        cdktn_cli,
        cdktn_provider_generator,
        cdktn_hcl2json,
        cdktn_hcl2cdk,
        cdktn_commons,
        cdktn_cli_core,
      ]
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
